*{
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: bold;
}

button{
    border: none;
    background-color: #3d86fc;
    color: white;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    user-select: none;
    transition: 300ms ease;
}

button:hover{
    transform: scale(1.15);
    background-color: #69a2ff;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


